
/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
    
	.contant_box_404
    { margin-top:-50px;
    }
    .details{
        border: none;
    }
    #detailsButton{
        border: none;
        height: 50px;
        color: #fff !important;
        padding: 10px 20px;
        background: #39ac31;
        display: inline-block;
    }
    .details {
        display: none; /* Ẩn phần detail ban đầu */
        margin-top: 20px;
        padding: 10px;
        background-color: #f0f0f0;
        border-radius: 5px;
        border: none;
      }

    .fix{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    li{
        list-style: none;
    }
    .colum-2 .column{
    padding-top: 20px;
    width: 30%;
    text-align: left;
    }